.list-group-item {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
}

.col-2,
.col-3 {
  float: left;
}

.list-header {
  margin-top: 30px;
}

.list-group-header {
  background: #fff;
  list-style: none;
  padding: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.list-heading {
  font-size: 24px;
  padding-left: 18px;
}

.btn-dark {
  font-size: 24px;
  font-weight: bolder;
  background-color: transparent;
  color: #262833;
  border: none;
}

.list-title {
  display: block;
  margin: 0 auto;
  width: 100%;
}
