.list-group-item{
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
  }
  
  .col-2, .col-3{
    float: left;
    /* margin: 0; */
  }
  
  .list-header{
    margin-top: 75px;
    padding-right: 0px;
    height: 70px;

  }

  

  .list-group-header {
  width: 99%;
  background: #fff;
  list-style: none;
  padding-top: 5px;
  margin-left: 12px;
  padding-right: 16px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

  .list-heading{
      font-size: 24px;
      padding-left: 18px;
  }

  .btn-dark{
    /* display: block;
    margin: 0 auto;
    width: 100%; */
    font-size: 24px;
    font-weight: bolder;
    background-color: transparent;
    color: black;
    border: none;
  }

  .list-title{
    display: block;
    margin: 0 auto;
    width: 100%; 
  }